:host {
  .not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100vh;

    .title {
      font-size: 96px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 32px;
    }

    .description {
      font-size: 48px;
      max-width: 500px;
      margin: 0;
    }

    .image {
      width: 100%;
    }

    .left-container {
      width: 300px;
      height: 300px;
    }
  }
}
