<div class="user-card">
  <div class="user-header">
    <p class="user-name">{{user?.name}}</p>
    <p class="user-email">{{user?.email}}</p>
  </div>
  <diV>
    <p class="user-item"><img src="../../../assets/img/location.png">{{user?.address?.street}}</p>
    <p class="user-item"><img src="../../../assets/img/job.png">{{user?.company?.name}}</p>
    <p class="user-item"><img src="../../../assets/img/phone.png">{{user?.phone}}</p>
    <p class="user-item"><img src="../../../assets/img/www.png"><a [href]="user?.website">{{user?.website}}</a></p>
  </diV>
</div>