/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  padding: 32px 0;

  .active {
    color: #4744ae;
    font-weight: bold;
  }
}

.text-field {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #4744ae;
}

.btn {
  padding: 8px 16px;
  background-color: #0071c1;
  color: white;
  border: none;
  cursor: pointer;
  margin: 32px 0;

  &:hover {
    background-color: darken(#0071c1, 10%);
  }
}
