<div class="page-container">
  <div data-testid="breadcrumbs" class="breadcrumbs"><a routerLink="/">Home</a>/<span class="active">{{user?.name}}</span>/<span>Albums</span>
  </div>
  <button class="btn" (click)="openModal()">Create new album</button>
  <div class="container">
    <app-album-card [attr.data-testid]="'album-'+album.id" *ngFor="let album of albums" [album]="album" (click)="showPhotos(album.id)"></app-album-card>
  </div>
  <app-modal #modal>
    <h2>Create new album</h2>
    <input class="text-field" type="text" placeholder="Album Name" [(ngModel)]="newAlbumTitle"/>
    <button class="btn" (click)="createNewAlbum()">Create</button>
  </app-modal>
  <router-outlet></router-outlet>
</div>
